.app-download {
  margin: auto auto;
  margin-top: 60px;
  text-align: center;
  font-weight: 500;
  font-size: max(3vw, 20px);
}

.app-download-platforms {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.app-download-platforms img {
  cursor: pointer;
  transition: 0.5s;
  max-width: 180px;
  width: max(30vw, 120px);
}

.app-download-platforms img:hover {
  transform: scale(1.05);
}
